<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="error"
      internalLogFile="C:/temp/internal-nlog-AspNetCore.txt">
  <!--autoReload：修改后自动加载，可能会有延迟-->
  <!--throwConfigExceptions：NLog日志系统抛出异常-->
  <!--internalLogLevel：内部日志的级别-->
  <!--internalLogFile：内部日志保存路径，日志的内容大概就是NLog的版本信息，配置文件的地址等等-->
  <!--输出日志的配置，用于rules读取-->
  <!--级别：Trace，Debug，Info，Warn，Error，Fatal-->
  <targets async="true">
    <!--DEGUGE-->
    <target name="debug-file" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File" fileName="${event-properties:item=defaultlogpath}/debug/${event-properties:item=folder}/debug.${date:format=yyyy-MM-dd}.log"
              layout="${longdate} ${event-properties:item=machinename} threadid:[${threadid}] traceId:[${event-properties:item=traceid}] ${message} ${exception}" archiveAboveSize="50485760" />
    </target>
    <!--INFO-->
    <target name="info-file" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File" fileName="${event-properties:item=defaultlogpath}/info/${event-properties:item=folder}/info.${date:format=yyyy-MM-dd.HH}.log"
              layout="${longdate} ${event-properties:item=machinename} threadid:[${threadid}] traceId:[${event-properties:item=traceid}] ${message}" archiveAboveSize="50485760" />
    </target>
    <!--ERROR-->
    <target name="error-file" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File" fileName="${event-properties:item=defaultlogpath}/error/${event-properties:item=folder}/error.${date:format=yyyy-MM-dd}.log"
              layout="${longdate} ${event-properties:item=machinename} threadid:[${threadid}] traceId:[${event-properties:item=traceid}] ${message} ${exception}" archiveAboveSize="50485760" />
    </target>
    <!--CUSTOMIZED-->
    <target name="customized-file" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File" fileName="${event-properties:item=defaultlogpath}/custlog/${event-properties:item=folder}/${date:format=yyyy-MM-dd}.log"
              layout="${longdate} ${event-properties:item=machinename} | ${message}" archiveAboveSize="50485760" />
    </target>
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <!--路由顺序会对日志打印产生影响。路由匹配逻辑为顺序匹配。-->
    <!--自定义日志-->
    <logger name="MyCust.*" minlevel="Trace" writeTo="customized-file" final="true" />
    <logger name="*" level="Debug" writeTo="debug-file" />
    <logger name="*" level="Info" writeTo="info-file" />
    <logger name="*" level="Error" writeTo="error-file" />
  </rules>
</nlog>